<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAdpPFBxU1yeILu6tqCrF45-Y-tcYcZx6c</string>
	<key>GCM_SENDER_ID</key>
	<string>96843346440</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.healthFitness</string>
	<key>PROJECT_ID</key>
	<string>health-fitness-23e8b</string>
	<key>STORAGE_BUCKET</key>
	<string>health-fitness-23e8b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:96843346440:ios:e8c1102dd2b325f89bd7bd</string>
</dict>
</plist>